<div class="min-w-full h-120 bg-fixed relative"
     style="background-image: url('https://images.pexels.com/photos/219998/pexels-photo-219998.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
    {% include 'default/navigation.html.twig' %}
    <svg viewBox="0 0 1440 120" class="absolute fill-current text-white z-10 bottom-0 ">
        <path d="M1440,21.2101911 L1440,120 L0,120 L0,21.2101911 C120,35.0700637 240,42 360,42 C480,42 600,35.0700637 720,21.2101911 C808.32779,12.416393 874.573633,6.87702029 918.737528,4.59207306 C972.491685,1.8109458 1026.24584,0.420382166 1080,0.420382166 C1200,0.420382166 1320,7.35031847 1440,21.2101911 Z"></path>
    </svg>
    <div class="grid grid-cols-6 gap-4 mt-12 h-72">
        <div class="col-start-2 col-span-2 col-end-4 h-56 text-white flex flex-col justify-center ">
            <h1 class="text-5xl font-semibold inline">Explore the world</h1>
            <p class="text-2xl">Join a global community of international travelers working remotely around the world</p>
            <div class="mt-4">
                <div class="w-1/12 h-12 border border-white inline-block bg-cover rounded-full" style="background-image: url('https://nomadlist.com/assets/img/users/139df30a327ca4af8c284e4f0ef14cd1-100px.jpg')"></div>
                <div class="w-1/12 h-12 border border-white inline-block bg-cover rounded-full -ml-3" style="background-image: url('https://nomadlist.com/assets/img/users/139df30a327ca4af8c284e4f0ef14cd1-100px.jpg')"></div>
                <div class="w-1/12 h-12 border border-white inline-block bg-cover rounded-full -ml-3" style="background-image: url('https://nomadlist.com/assets/img/users/139df30a327ca4af8c284e4f0ef14cd1-100px.jpg')"></div>
            </div>
        </div>
        <div class="col-span-1 col-start-5 p-6 bg-white rounded-md shadow-md z-20">
            <div class="bg-cover w-full h-32 rounded-md" style="background-image: url('https://images.pexels.com/photos/315998/pexels-photo-315998.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')"></div>
            <form class="pt-4 h-full ">
                <input type="text" class="p-3 border border-gray-500 rounded-md w-full" placeholder="Enter your email">
                <button class="bg-red-600 p-3 mt-3 text-white rounded-md w-full">Join nomad list</button>
            </form>
        </div>
    </div>
</div>