<div class="grid grid-cols-12 gap-4 z-30">
    <div class="col-span-12 flex justify-center h-12 items-center">
        <p class="text-gray-600 text-xs mr-4">as seen in</p>
        <img src="https://nomadlist.com/assets/featured/nyt-wide.png?5" class="w-24 px-4 opacity-50 "
             style="filter: saturate(0%)" data-src="/assets/featured/nyt-wide.png?5">
        <img src="https://nomadlist.com/assets/featured/bbc.png" class="w-24 px-4 opacity-50"
             style="filter: saturate(0%)" data-src="/assets/featured/bbc.png">
        <img src="https://nomadlist.com/assets/featured/cnn.png" class="w-24 px-4 opacity-50"
             style="filter: saturate(0%)" data-src="/assets/featured/cnn.png">
        <img src="https://nomadlist.com/assets/featured/usa-today.png?4" class="w-24 px-4 opacity-50"
             style="filter: saturate(0%)" data-src="/assets/featured/usa-today.png?4">
        <img src="https://nomadlist.com/assets/featured/cnbc.png?2" class="w-24 px-4 opacity-50"
             style="filter: saturate(0%)" data-src="/assets/featured/cnbc.png?2">
        <img src="https://nomadlist.com/assets/featured/guardian.png?3" class="w-24 px-4 opacity-50"
             style="filter: saturate(0%)" data-src="/assets/featured/guardian.png?3">
    </div>
    <div class="col-span-10 col-start-2 flex justify-between">
        <div class="flex items-center">
            <button class="bg-red-600 border text-white border-0 text-sm font-semibold px-3 py-2 rounded mr-4 hover:bg-white hover:text-black hover:border-red-600 ">
                Add filters
            </button>
            <div class="relative">
                <input class="text-black border border-gray-400 px-3 py-2 rounded text-sm hover:bg-gray-200 focus:border focus:border-red-600 focus:outline-none placeholder-black font-semibold"
                       type="text" placeholder="Add filter">
                <svg class=" absolute fill-current text-gray-600 top-0 right-0 w-auto h-full "
                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                          d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                          clip-rule="evenodd"/>
                </svg>
            </div>
        </div>
        <div class="flex items-center">
            <button class="rounded border border-gray-400 font-semibold text-sm text-black px-3 py-2 border mr-4 hover:bg-gray-200 inline-flex items-center">
                <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                     fill="currentColor">
                    <path d="M8.433 7.418c.155-.103.346-.196.567-.267v1.698a2.305 2.305 0 01-.567-.267C8.07 8.34 8 8.114 8 8c0-.114.07-.34.433-.582zM11 12.849v-1.698c.22.071.412.164.567.267.364.243.433.468.433.582 0 .114-.07.34-.433.582a2.305 2.305 0 01-.567.267z"/>
                    <path fill-rule="evenodd"
                          d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a1 1 0 10-2 0v.092a4.535 4.535 0 00-1.676.662C6.602 6.234 6 7.009 6 8c0 .99.602 1.765 1.324 2.246.48.32 1.054.545 1.676.662v1.941c-.391-.127-.68-.317-.843-.504a1 1 0 10-1.51 1.31c.562.649 1.413 1.076 2.353 1.253V15a1 1 0 102 0v-.092a4.535 4.535 0 001.676-.662C13.398 13.766 14 12.991 14 12c0-.99-.602-1.765-1.324-2.246A4.535 4.535 0 0011 9.092V7.151c.391.127.68.317.843.504a1 1 0 101.511-1.31c-.563-.649-1.413-1.076-2.354-1.253V5z"
                          clip-rule="evenodd"/>
                </svg>
                <span>Cost per expat</span>
            </button>
            <button class="rounded border border-gray-400 font-semibold text-sm text-black px-3 py-2 border mr-4 hover:bg-gray-200 inline-flex items-center">
                Grid view
            </button>
            <div class="inline-flex">
                <button class="rounded rounded-r-none border border-r-0 border-gray-400 font-semibold text-sm text-black px-3 py-2 border hover:bg-gray-200 inline-flex items-center">
                    Overall score
                </button>
                <button class="rounded rounded-l-none border  border-gray-400 px-3 py-2 border hover:bg-gray-200 inline-flex items-center">
                    <svg class="fill-current w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                         fill="currentColor">
                        <path fill-rule="evenodd"
                              d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z"
                              clip-rule="evenodd"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="grid grid-flow-row grid-cols-12 gap-4 mt-4 mb-4">
    <div class="hover-container h-48 rounded-sm col-span-2 col-start-2 bg-gray-400 p-4 bg-cover bg-center relative" style="background-image: url('https://i.picsum.photos/id/1061/600/1000.jpg?hmac=x_VMOVAcHg8BSpNvzKww58dNCSYbbOeqluJV_UvJaYc')">
        <div class="hover-content flex flex-wrap">
            <div class="flex justify-between items-start w-full">
                <span class="p-1 border-b-4 text-white border-white text-xs">1</span>
                <div class="inline-block text-white">
                <div class="text-xs">19</div>
                <div class="text-xs">Mbps</div>
            </div>
            </div>
            <div class="text-center text-white w-full">
                <h1>Canggu, Bali</h1>
                <h4>Indonesia</h4>
            </div>
            <div class="flex justify-between items-end w-full">
                <span class="text-white ">28 Cels.</span>
                <span class="text-white">$832 / mo</span>
            </div>
        </div>

        <div class="hover-overlay flex flex-wrap">
            <div class="w-full flex justify-between">
                <svg class="fill-outline text-white h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
                </svg>
                <svg viewBox="0 0 20 20" fill="currentColor" class="x fill-outline text-white h-8 w-8">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
            </div>
            <div class="w-full px-1">
                <div class="w-full flex justify-between items-center mt-1">
                    <span class="inline-block text-white text-sm w-2/6">Overall Score</span>
                    <div class="inline-block w-4/6 h-4 rounded bg-gray-500 bg-opacity-85">
                        <div class="h-full bg-green-500 w-4/5 rounded"></div>
                    </div>
                </div>
                <div class="w-full flex justify-between items-center mt-1">
                    <span class="inline-block text-white text-sm w-2/6">Overall Score</span>
                    <div class="inline-block w-4/6 h-4 rounded bg-gray-500 bg-opacity-85">
                        <div class="h-full bg-green-500 w-4/5 rounded"></div>
                    </div>
                </div>
                <div class="w-full flex justify-between items-center mt-1">
                    <span class="inline-block text-white text-sm w-2/6">Overall Score</span>
                    <div class="inline-block w-4/6 h-4 rounded bg-gray-500 bg-opacity-85">
                        <div class="h-full bg-green-500 w-4/5 rounded"></div>
                    </div>
                </div>
                <div class="w-full flex justify-between items-center mt-1">
                    <span class="inline-block text-white text-sm w-2/6">Overall Score</span>
                    <div class="inline-block w-4/6 h-4 rounded bg-gray-500 bg-opacity-85">
                        <div class="h-full bg-green-500 w-4/5 rounded"></div>
                    </div>
                </div>
                <div class="w-full flex justify-between items-center mt-1">
                    <span class="inline-block text-white text-sm w-2/6">Overall Score</span>
                    <div class="inline-block w-4/6 h-4 rounded bg-gray-500 bg-opacity-85">
                        <div class="h-full bg-green-500 w-4/5 rounded"></div>
                    </div>
                </div>
            </div>

            <div class="w-full px-4 truncate text-xs font-semibold text-white">
                Bali is amazing,But Canggu isn't because there are lots of bugs
            </div>
        </div>
    </div>
    <div class="h-48 rounded-sm col-span-2 bg-gray-400"></div>
    <div class="h-48 rounded-sm col-span-2 bg-gray-400"></div>
    <div class="h-48 rounded-sm col-span-2 bg-gray-400"></div>
    <div class="col-span-2 rounded-sm row-span-2 bg-gray-400"></div>
    <div class="h-48 rounded-sm col-span-2 col-start-2 bg-gray-400"></div>
    <div class="h-48 rounded-sm col-span-2 bg-gray-400"></div>
    <div class="h-48 rounded-sm col-span-2 bg-gray-400"></div>
    <div class="h-48 rounded-sm col-span-2 bg-gray-400"></div>
</div>