
<!DOCTYPE html>
<html class="text-gray-900 antialiased leading-tight">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {%- block stylesheets -%}
        {# could contain other stylesheet link tags relevant to your project #}
        {{ encore_entry_link_tags('tailwind') }}
    {%- endblock -%}
</head>
<body class="min-h-screen antialiased relative">
{% block body %}
    {% block header %}

    {% endblock header %}

    {% block content %}

    {% endblock content %}

{% endblock body %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>